*, *:before, *:after, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: $link-color;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    transition: color .3s;
    &:hover {
        color: $link-color;
        text-decoration: none;
    }
}
body {
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

html {
    .visible-logged-in {
        display: none;
    }
}